<div class="todoblock">
	<h2> With backend on AC on {{listItemsService.cableUrl}} </h2>

	<input [(ngModel)]="user"/><button (click) = "setUser()"> Set User and subscribe for a channel</button>
	<br/>
	<br/>

	<div *ngIf="channelUser">
		<wsform (listRefreshEvent)="refreshItems()" ></wsform>


		<p>WebSocket AC todos for user {{channelUser}}</p>


		<li *ngFor="let item of items">


			<todoitem 
				[todoItem]="item" 
				(deleteItemEvent)="removeItem($event)"
				(updateItemEvent)="updateItem($event)"
			></todoitem>


		</li>

	<br/>

		<li *ngFor="let item of items">
			{{item.caption}}
			{{item.duration}}
			{{item.isDone}}

		</li>
	</div>
</div>