<nav class = "todomenu" > 

	весёлые alertы
	<a (click)="menuItem.onClick(menuItem)" *ngFor = " let menuItem of menu " >{{menuItem.name}}</a>

	<hr/>

	<li routerLink = "/todo-frontend" routerLinkActive = "active"> todo-frontend only </li>

	<li routerLink = "/todo-backend" routerLinkActive = "active"> todo-backend http ajax interface</li>

	<li routerLink = "/todo-ws" routerLinkActive = "active"> todo-WebSockets interface </li>

	<li routerLink = "/todo-ac" routerLinkActive = "active"> todo-WebSockets ActionCable interface </li>

	<li routerLink = "/" routerLinkActive = "active"> start page </li>

</nav>
